<% include ./header.ejs %>
<% include ./style.ejs %>
<div class="wrap">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">개인적인 게시판</li>
      <li class="breadcrumb-item"><a href="/board/write">추가</a></li>
    </ol>
  </nav>
  <div class="contents">
    <% contents.forEach( function(content){ %>
    <div class="card">
      <div class="card-header">
        <h3><%=content.title%></h3>
        <%=content.created_at%>
      </div>
      <div class="card-body">
        
        <blockquote class="blockquote mb-0">
          <p><%=content.contents%></p>
      
          <a type="button" class="btn btn-info" href="/board/edit/<%=content.pk%>">수정</a>
          <a type="button" class="btn btn-danger" href="/board/delete/<%=content.pk%>" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
        </blockquote>
        
      </div>
    </div>
    <%});%>
  </div>
</div>

<% include ./footer.ejs %>